#success_message{ display: none;}

#addFee .inputGroupContainer .form-control-feedback,
#addFee .selectContainer .form-control-feedback {
 top: 0;
 right: -30px;
}

#UpdFee .inputGroupContainer .form-control-feedback,
#UpdFee .selectContainer .form-control-feedback {
 top: 0;
 right: -30px;
}
