#success_message{ display: none;}

#addSection .inputGroupContainer .form-control-feedback,
#addSection .selectContainer .form-control-feedback {
    top: 0;
    right: -30px;
}

#updSection .inputGroupContainer .form-control-feedback,
#updSection .selectContainer .form-control-feedback {
    top: 0;
    right: -30px;
}
